/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bulma */
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/base/_all';
@import 'bulma/sass/helpers/_all';
@import 'bulma/sass/components/navbar';

html {
  font-size: 100%;
}

::selection {
  color: $highlight-color;
  background-color: $highlight-background-color;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div.progress {
  position: fixed;
  height: 3px;
  width: 25%;
  left: -25%;
  background-color: rgba(106, 181, 69, 1);
  animation: progressBar 4s ease-in-out;
  animation-iteration-count: infinite;
  z-index: 10;
}

@keyframes progressBar {
  0% {
    left: -25%;
  }
  50% {
    left: 125%;
  }
  100% {
    left: -25%;
  }
}

header {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
}

nav {
  padding: 16px 48px 0 48px;
  max-width: $fullhd;
  margin: auto;
}

header .navbar {
  background-color: #fcf4dc;
}

.navbar-end .navbar-item {
  font-weight: 600;
}

hr {
  background-color: rgba(0, 0, 0, 0.1);
}

footer a:hover {
  color: $highlight-background-color;
}

.logo {
  color: $logo-color !important;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 32px;
}

.logo picture {
  margin-right: 10px;
  display: flex;
}

main {
  padding: 2rem 3rem 3rem 3rem;
  flex-grow: 1;
  max-width: $fullhd;
  width: 100%;
  margin: auto;
}

footer {
  color: $footer-color;
  background-color: $footer-background-color;
  font-size: 0.8rem;

  .footer-logo {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    color: $footer-color;
  }
  span {
    line-height: 2;
  }

  a {
    color: $footer-color;
  }

  .grid {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
  }

  .disclaimer {
    width: 450px;
    margin: 1rem 0 1rem 0;
  }

  .other-sites {
    width: 225px;
    margin: 1rem 0 1rem 0;

    li {
      margin-bottom: 0.3rem;
    }
  }

  h2 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 1em 0;
  }
}

footer div.content {
  max-width: $fullhd;
  margin: auto;
  padding: 3rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

@media screen and (max-width: 550px) {
  main,
  footer {
    padding: 1rem 1rem 3rem 1rem;
  }

  nav {
    padding: 1rem 0 0 0;
  }

  footer {
    div.content {
      padding: 1rem 1rem 1rem 1rem;
    }
  }
}
